.pv-comp-params .row text,
.pv-comp-params .col text {
    text-anchor: middle;
    fill: hsl(0, 0%, 0%);
}

.pv-comp-params .row text {
    dominant-baseline: text-after-edge;
}

.pv-comp-params .col text {
    dominant-baseline: text-after-edge;
}

.pv-comp-params .cell .container {
    fill: none;
    stroke: hsl(0, 0%, 60%);
}

.pv-comp-params .bar {
    fill: hsl(0, 0%, 85%);
}

.pv-comp-params .bar:hover {
    fill: hsl(0, 0%, 50%);
}

.pv-comp-params .bar text {
    text-anchor: middle;
    dominant-baseline: text-before-edge;
}

.pv-comp-params .settings input {
    width: 45px;
}