.pv-comp-params .cell rect.container,
.pv-comp-params .even .cell rect.container {
    fill: none;
    stroke: hsl(0, 0%, 40%);
}

.pv-comp-params .odd .cell rect.container {
    fill: hsl(0, 0%, 90%);
    stroke: hsl(0, 0%, 75%);
}

.pv-comp-params .bar rect {
    fill: hsl(0, 0%, 95%);
    stroke: hsl(0, 0%, 70%);
}