/* --- General --- */
* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    cursor: default;
}

text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    fill: hsl(0, 0%, 60%);
}

/* --- General --- */

/* --- Dashboard --- */
.vis {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
}

.vis-header {
    background-color: hsl(0, 0%, 90%);
    padding: 3px;
    height: 25px;
}

.vis-header .title {
    font-weight: bold;
    font-family: fantasy;
    font-size: 1.3em;
    float: left;
}

.settings .setting {
    display: inline-block;
    margin-left: 20px;
    float: right;
}

.settings label {
    margin-right: 3px;
}

.settings a,
.settings select {
    margin-left: 3px;
}

.hidden {
    display: none;
}

/* --- Dashboard --- */

/* --- D3 --- */
/* Brush */
.brush .selection {
    fill-opacity: 0.2;
}

/* Axis */
.tick line,
.axis path,
.x-axis path,
.y-axis path {
    stroke: hsl(0, 0%, 60%);
}

.axis text {
    font-size: 10px;
}

rect {
    shape-rendering: crispEdges;
}

/* Normal straight lines in graphs */
.links line,
.links path {
    fill: none;
    stroke: hsl(0, 0%, 60%);
}

/* --- D3 --- */