.pv-parallel-metrics .metric .label {
    font-weight: bold;
    fill: black;
    text-anchor: middle;
    dominant-baseline: text-before-edge;
}

.pv-parallel-metrics .model {
    /* opacity: 0.5; */
}

.pv-parallel-metrics .model.brushed {
    stroke: blue;
    opacity: 1;
}

.pv-parallel-metrics .model.hovered {
    stroke: cyan;
    opacity: 1;
}

.pv-parallel-metrics .brush .selection {
    fill: green;
    cursor: default;
}