.pv-parallel-metrics .metric .label {
    fill: black;
    text-anchor: middle;
    dominant-baseline: text-before-edge;
}

.pv-parallel-metrics .model.non-brushed,
.pv-parallel-metrics .model.non-ext-brushed {
    opacity: 0.3;
}

.pv-parallel-metrics .model.brushed,
.pv-parallel-metrics .model.ext-brushed {
    stroke: blue;
    opacity: 1;
}

.pv-parallel-metrics .model.hovered {
    stroke: blue;
    opacity: 1;
    stroke-width: 2px;
}

.pv-parallel-metrics .brush .selection {
    fill: green;
    cursor: default;
}