.pv-topic-models .model.non-ext-brushed,
.pv-topic-models .model.non-brushed {
    opacity: 0.3;
}

.pv-topic-models .model.ext-brushed,
.pv-topic-models .model.brushed {
    opacity: 1;
}

.pv-topic-models .model.hovered,
.pv-topic-models .group:hover {
    stroke: blue !important;
    stroke-width: 2px;
}

.pv-topic-models .label-button {
    font-size: 12px;
    fill: black;
    text-anchor: end;
    cursor: pointer;
}

.pv-topic-models .label-button.x {
    dominant-baseline: text-after-edge;
}

.pv-topic-models .label-button.y {
    dominant-baseline: text-before-edge;
}

.pv-topic-models .brush .selection {
    fill: green;
    cursor: default;
}

.pv-topic-models .model,
.pv-topic-models .group {
    fill: hsl(0, 0%, 90%);
    stroke: hsl(0, 0%, 60%);
}

.pv-topic-models .group .no-fill {
    fill-opacity: 1e-6;
    stroke-dasharray: 3,2;
}
